* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
}
.login-form {
  position: relative;
  background-color: #fff;
  width: 500px;
  padding: 30px 30px 30px 30px;
  box-shadow: 0 0 10px 5px #e4e4e4;
  border-radius: 10px;
}
.login-form .close {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}
.login-form .title {
  text-align: center;
  font-size: 25px;
  margin-bottom: 15px;
}
.login-form .msg {
  text-align: center;
  color: #999;
  margin-bottom: 20px;
}
.login-form .send {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 360px;
}
.login-form .link {
  color: #999;
  margin-top: 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login-form .link a {
  text-decoration: underline;
}
.login-form .ant-form-item .ant-form-item-explain-error {
  text-align: right;
}
.login-form .ant-btn {
  margin-top: 10px;
  height: 40px;
}
.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background-color: #000;
  color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  padding: 15px 36px;
}
.footer .list span {
  margin: 0 10px;
  cursor: pointer;
}
.header {
  height: 60px;
  background-color: #000;
  color: #fff;
  font-size: 15px;
  padding: 15px 36px;
}
.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logo {
  display: flex;
  align-items: baseline;
  font-size: 15px;
}
.header .logo .first {
  font-size: 25px;
  margin-right: 8px;
  font-weight: 500;
}
.header .logo .first.pc {
  display: block;
}
.header .logo .first.mobile {
  display: none;
}
.header .left {
  display: flex;
  align-items: center;
}
.header .right {
  display: flex;
  align-items: center;
}
.header .right .right-item {
  margin: 0 20px;
  display: flex;
  align-items: center;
}
.ant-input-search .ant-input-search-button {
  height: 31px;
}
.ant-input-search {
  width: 400px;
  margin-left: 30px;
}
.header .mobile {
  display: none;
}
.footer .mobile {
  display: none;
}
.footer .pc {
  display: block;
}
@media screen and (max-width: 768px) {
  .login-form {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .header {
    height: auto;
    padding: 4px 10px;
  }
  .header .mobile {
    display: block;
    width: 100%;
    margin: 10px 0;
  }
  .header .pc {
    display: none;
  }
  .header .ant-input-search {
    width: 100%;
    margin: 0;
  }
  .header .right .right-item {
    margin: 0 6px;
  }
  .header .right-item:first-child .item-name {
    display: none;
  }
  .footer {
    height: auto;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .footer .list span {
    margin: 0 6px;
  }

  .footer .mobile {
    display: block;
    margin: 10px 0;
  }
  .footer .pc {
    display: none;
  }
  .header .logo .first.pc {
    display: none;
  }
  .header .logo .first.mobile {
    display: block;
  }
  .login-form .send {
    height: 240px;
  }
}
